<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="../css/captchastyle.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamersOnly</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
    <style>
       .modal-box{ font-family: 'Poppins', sans-serif; }
    </style>

</head>

<header>
    <img src="../images/GamersLogo.png" id="gamerLogo"/>
    
    <ul style="padding-right: 30px;">
        <li style="float:right"><a class="active" href="/users/register">
            <button id = "sign-up-button" >Sign Up</button>
        </a></li>
        <li style="float:right" ><a class="active">
            <button type = button id = "login-button" data-toggle="modal" data-target="#myModal">Log In</button>
        </a></li>
    </ul>

    
    <style>
        body {
           background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/CSBG_LOL.jpg");
           /* IMAGE SRC: Riot Games League of Legends Clash promotional image */
        }
     </style>
     
</header>

<body>
    <!-- <img src="../images/GamersLogo.png" id="gamerLogo"/> -->

    <div id = "captcha-title">
        <h1>Find some gamers, gamer!</h1> 
    </div>    

    <ul class = "GRPP">
        <li>
        <label for="gameList">Choose a Game:</label>
            <select id="gameList">
                <option value=""></option>
                <option value="league">League of Legends</option>
                <option value="valorant">Valorant</option>
            </select>
        </li><br>

        <li>
            <label for="Rank">Rank:</label>
                <select id="rankList">
                    <option value=""></option>
                    <option value="iron">Iron</option>
                    <option value="bronze">Bronze</option>
                    <option value="silver">Silver</option>
                    <option value="gold">Gold</option>
                    <option value="platinum">Platinum</option>
                    <option value="diamond">Diamond</option>
                    <option value="immortal">Immortal</option>
                    <option value="radiant">Radiant</option>
                </select>
        </li><br>

        <li>
            <label for="Playstyle">Playstyle:</label>
            <select id="playstyle">
                <option value=""></option>
                <option value="casual">Casual</option>
                <option value="competitve">Competitive</option>
            </select>
        </li><br>
        
           <li>
            <label for="numPlayers">Number of Players:</label>
            <select id="numPlayers">
                <option value=""></option>
                <option value="one">One</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <option value="four">Four</option>
            </select> 
        </li>
    </ul>

    <br><div class="captcha-container"><br />
        <form method="POST" action="/captcha">
            <div class="g-recaptcha" data-sitekey="6LcqmXUdAAAAAEL_S58ghYNHCcmEbbE65wcuyssj"></div> 
            <div id = "button-container">
                <button id = "captchabutton" class="btn btn-success btn-lg">Chat Anonymously!</button>
            </div>
            
        </form>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    </div> 

    <!-- LOGIN POPUP -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content clearfix">
                <!--Close button-->
                    <div class="modal-hd">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <!--Login Content-->
                        <img src="../images/GamersLogo.png" id="gamerLogo2"/>
                    </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="modal-box">
                                    <div> 
                                        <h3 id = "login-title">Log In</h3> 
                                        <!-- <h3 class = "oauth-container" style="color: white;" href="/users/register">Sign Up</h3>  -->
                                    </div>
                                    <hr>
                                    <form action="/users/login" method="POST">
                                        <div>
                                            <h5 style="color: white;">Email</h5> 
                                            <input type="email" class = "form-control" id="email" name="email" placeholder="Email" required />
                                        </div>
                                        <div>
                                            <h5 style="color: white;">Password</h5> 
                                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required />
                                        </div>
                                        <div>
                                            <input id = "login-button2" type="submit" value="Login" />
                                        </div>
                                        <br>

                                        <!--Google login button-->
                                                <a class="oauth-container btn darken-4 white black-text" href="/auth/google" role="button"
                                                    style="text-transform:none">
                                                    <img width="25px" style="margin-right:5px" alt="Google sign-in"
                                                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                                                    Login with Google
                                                </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Login Content -->
                </div>
            </div>
        </div>
    </div>
    
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>