<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/chat.css" rel="stylesheet" type="text/css">
    <title>Chatting!</title>
</head>

<header>
    <img src="../images/GamersLogo.png" id="gamerLogo"/>
    <!-- <div class ="text-right">
    
        <ul style="padding-right: 30px;">
            <li><a class="active" href="/users/register">
                <button id = "sign-up-button" >Sign Up</button>
            </a></li>
            <li><a class="active">
                <button type = button id = "login-button" data-toggle="modal" data-target="#myModal">Log In</button>
            </a></li>
        </ul>
    </div> -->

    
    <style>
        body {
           background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/CSBG_LOL.jpg");
           /* IMAGE SRC: Riot Games League of Legends Clash promotional image */
        }
     </style>
     
</header>


<body>
    <div id="ChatBox">
        <div id="chat-content">
            <p>You're chatting with [stranger] [username]! \n You have [interests] in common </p>
        </div>
    </div>
</body>
</html>